{% extends "base.html" %} {% block content %}
<nav>
  <div class="nav-wrapper">
    List of item
  </div>
</nav>
<div class="row">
  {% for item in items %}

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="{{ item.image.url }}" />
        <span class="card-title">{{ item.price }}</span>
      </div>
      <div class="card-content">
        <p>
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
